body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f5f2;
    color: #4a3f35;
    text-align: center;
}

/* COVER */
.cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6dccf;
}

.cover h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.cover button {
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    background-color: #8b6f47;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

/* CONTENT */
.content {
    display: none;
    padding: 60px 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #8b6f47;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}
.tamu {
    font-size: 16px;
    margin-bottom: 40px;
}

.tamu span {
    font-weight: 600;
    font-size: 18px;
}
.music-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8b6f47;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
.maps {
    margin: 30px 0;
    border-radius: 12px;
    overflow: hidden;
}
.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
}

.countdown div {
    background-color: #e6dccf;
    padding: 15px;
    border-radius: 10px;
    min-width: 70px;
}

.countdown span {
    font-size: 24px;
    font-weight: bold;
}

.countdown small {
    display: block;
    font-size: 12px;
}
